::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
}


.search__result {
  &-categories {
    max-height: 300px;
    overflow-y: auto;
  }
}

.no-results {
  position: absolute;
  background-color: #fff;
  padding: 5px;
  border-radius: 10px;
  bottom: -35px;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
}
