<div class="search__result-category-item">
  <div class="search__result-category-item-leftside">
    <mat-icon matPrefix>add_location</mat-icon>
    <p class="search__result-category-item-leftside-text">
          <span class="search__result-category-item-leftside-text-title">
            {{ item.name + ': ' + item.index + ', ' + item.sub }}
          </span>
      <span class="search__result-category-item-leftside-text-coordinates">N55 40, 284 W037 17, 452</span>
    </p>
  </div>
  <div class="search__result-category-item-rightside">
    <mat-icon matPrefix>info</mat-icon>
    <mat-icon matPrefix>add_circle</mat-icon>
  </div>
</div>
