@import '../../variables.scss';

.search__result-category-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  &:hover {
    background-color: $secondary-color;
  }

  &-leftside {
    display: flex;
    align-items: center;
    &-text {
      display: flex;
      flex-direction: column;
      &-coordinates {
      }
    }
  }

  &-rightside {
    display: flex;
    align-items: center;
    &-iconInfo {
      margin-right: 0.5rem;
    }
    &-iconPlus {
      height: 32px;
      width: 32px;
    }
  }

  &_last {
    border-radius: 0 0 10px 10px;
  }
}
