@import '../../variables.scss';

.search__result-category-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
  cursor: pointer;
  transition: background-color .2s;
  &:hover {
    background-color: $secondary-color;
  }

  &-leftside {
    display: flex;
    align-items: center;
    &-text {
      display: flex;
      flex-direction: column;
      //margin: 0 0 0 5px;
      &-coordinates {
        //font-size: 12px;
      }
    }
  }

  &-rightside {
    display: flex;
    align-items: center;
  }

  &_last {
    border-radius: 0 0 10px 10px;
  }
}
