<!--<mat-button-toggle-group
  class="search__filters"
  appearance="legacy"
  name="filters"
  (change) = "setSearchFilter($event)"
>
  <mat-button-toggle checked disableRipple value="all" [disabled] = "!searchItems?.summaryLength">
    {{ 'Search.All' | translate }}
    <span>{{ searchItems?.summaryLength || 0 }}</span>
  </mat-button-toggle>
  <mat-button-toggle disableRipple value="objects" [disabled] = "!searchItems?.objects?.length">
    {{ 'Search.Objects' | translate }}
    <span>{{ searchItems?.objects?.length || 0 }}</span>
  </mat-button-toggle>
  <mat-button-toggle disableRipple value="settlements" [disabled] = "!searchItems?.settlements?.length">
    {{ 'Search.Settlements' | translate }}
    <span>{{ searchItems?.settlements?.length || 0 }}</span>
  </mat-button-toggle>
  <mat-button-toggle disableRipple value="restrictedAreas" [disabled] = "!searchItems?.restrictedAreas?.length">
    {{ 'Search.RestrictedAreas' | translate }}
    <span>{{ searchItems?.restrictedAreas?.length || 0 }}</span>
  </mat-button-toggle>
  <mat-button-toggle disableRipple value="highways" [disabled] = "!searchItems?.highways?.length">
    {{ 'Search.Highways' | translate }}
    <span>{{ searchItems?.highways?.length || 0 }}</span>
  </mat-button-toggle>
  <mat-button-toggle disableRipple value="locations" [disabled] = "!searchItems?.locations?.length">
    {{ 'Search.Locations' | translate }}
    <span>{{ searchItems?.locations?.length || 0 }}</span>
  </mat-button-toggle>
</mat-button-toggle-group>-->

<section *ngIf="searchItems.summaryLength; else noResults" class="search__result">
  <mat-tab-group alsTabGroup="default" animationDuration="0ms">
    <mat-tab
      [label]="('Search.All' | translate) + ' ' + searchItems?.summaryLength"
      [disabled]="!searchItems?.summaryLength"
    >
      <div class="search__result-categories">
        <app-search-category
          *ngIf="searchItems.objects.length"
          [label]="'Search.Objects' | translate"
          [items]="searchItems.objects"
        ></app-search-category>
        <app-search-category
          *ngIf="searchItems.settlements.length"
          [label]="'Search.Settlements' | translate"
          [items]="searchItems.settlements"
        ></app-search-category>
        <app-search-category
          *ngIf="searchItems.restrictedAreas.length"
          [label]="'Search.RestrictedAreas' | translate"
          [items]="searchItems.restrictedAreas"
        ></app-search-category>
        <app-search-category
          *ngIf="searchItems.highways.length"
          [label]="'Search.Highways' | translate"
          [items]="searchItems.highways"
        ></app-search-category>
        <app-search-category
          *ngIf="searchItems.locations.length"
          [label]="'Search.Locations' | translate"
          [items]="[searchItems.locations]"
        ></app-search-category>
      </div>
    </mat-tab>
    <mat-tab
      [label]="('Search.Objects' | translate) + ' ' + searchItems?.objects?.length"
      [disabled]="!searchItems?.objects?.length"
    >
      <div class="search__result-categories">
        <app-search-category [label]="'Search.Objects' | translate" [items]="searchItems.objects"></app-search-category>
      </div>
    </mat-tab>
    <mat-tab
      [label]="('Search.Settlements' | translate) + ' ' + searchItems?.settlements?.length"
      [disabled]="!searchItems?.settlements?.length"
    >
      <div class="search__result-categories">
        <app-search-category
          [label]="'Search.Settlements' | translate"
          [items]="searchItems.settlements"
        ></app-search-category>
      </div>
    </mat-tab>
    <mat-tab
      [label]="('Search.RestrictedAreas' | translate) + ' ' + searchItems?.restrictedAreas?.length"
      [disabled]="!searchItems?.restrictedAreas?.length"
    >
      <div class="search__result-categories">
        <app-search-category
          [label]="'Search.RestrictedAreas' | translate"
          [items]="searchItems.restrictedAreas"
        ></app-search-category>
      </div>
    </mat-tab>
    <mat-tab
      [label]="('Search.Highways' | translate) + ' ' + searchItems?.highways?.length"
      [disabled]="!searchItems?.highways?.length"
    >
      <div class="search__result-categories">
        <app-search-category
          [label]="'Search.Highways' | translate"
          [items]="searchItems.highways"
        ></app-search-category>
      </div>
    </mat-tab>
    <mat-tab
      [label]="('Search.Locations' | translate) + ' ' + searchItems?.locations?.length"
      [disabled]="!searchItems?.locations?.length"
    >
      <div class="search__result-categories">
        <app-search-category
          [label]="'Search.Locations' | translate"
          [items]="[searchItems.locations]"
        ></app-search-category>
      </div>
    </mat-tab>
  </mat-tab-group>
</section>

<ng-template #noResults>
  <div class="no-results">{{ 'Search.NotFound' | translate }}</div>
</ng-template>
