<mat-button-toggle-group
  appearance="legacy"
  name="filters"
  (change) = "setSearchFilter($event)"
>
  <mat-button-toggle checked value="all" [disabled] = "!searchItems?.summaryLength">
    Все
    <span>{{ searchItems?.summaryLength || 0 }}</span>
  </mat-button-toggle>
  <mat-button-toggle value="objects" [disabled] = "!searchItems?.objects?.length">
    Объекты
    <span>{{ searchItems?.objects?.length || 0 }}</span>
  </mat-button-toggle>
  <mat-button-toggle value="settlements" [disabled] = "!searchItems?.settlements?.length">
    Нас. пункты
    <span>{{ searchItems?.settlements?.length || 0 }}</span>
  </mat-button-toggle>
  <mat-button-toggle value="restrictedAreas" [disabled] = "!searchItems?.restrictedAreas?.length">
    Зоны
    <span>{{ searchItems?.restrictedAreas?.length || 0 }}</span>
  </mat-button-toggle>
  <mat-button-toggle value="highways" [disabled] = "!searchItems?.highways?.length">
    Трассы
    <span>{{ searchItems?.highways?.length || 0 }}</span>
  </mat-button-toggle>
  <mat-button-toggle value="locations" [disabled] = "!searchItems?.locations?.length">
    Локация
    <span>{{ searchItems?.locations?.length || 0 }}</span>
  </mat-button-toggle>
</mat-button-toggle-group>
