@import '../../variables.scss';

.search__result-category {
  border-top: 1px solid $secondary-color;
  margin-top: 10px;
  position: relative;

  &-label {
    background-color: $primary-color;
    color: $secondary-dark-color;
    padding: 0 10px;
    position: absolute;
    top: -10px;
    left: 0;
    text-transform: uppercase;
    font-size: 12px;
  }
}
