.search__header {
  &-field {
    width: 100%;
    box-sizing: border-box;
    padding: 0 5px;
    &-loader {
      display: flex;
      justify-content: center;
      position: absolute;
      top: 2px;
      right: 0;
    }
    &-reset {
      cursor: pointer;
    }
  }
}

/* <Переопределения Material-стилей> */

/* https://stackoverflow.com/questions/53684763/how-to-remove-space-bottom-mat-form-field */

.search__header .mat-form-field-underline {
  display: none;
}

.search__header .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding: 3px 0;
}

.search__header .mat-form-field-infix {
  border-top: 0;
}

.search__header .mat-form-field-prefix,
.search__header .mat-form-field-suffix {
  position: relative;
  top: 4px;
}
/* </Переопределения Material-стилей> */
